@import url(<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Federo&display=swap" rel="stylesheet">);
@import url(<link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet"> );

html {
    margin: 0;
    min-height: 100%;
}

body {
    margin: 0;
    
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(1.2);
    z-index: -2;
}

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

.video-container {
    width: 300px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.header-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 9;
}

.left-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 16em;
}

.logo-container {
    margin: 0.7em 0 0.7em 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 8.8em;
    text-decoration: none;

}

.logo-anime {
    color: white;
    font-family: 'Federo', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    text-shadow: 0 0 1em rgb(217, 4, 4);
    width: 5.2em;
    letter-spacing: 0.1em;
}

.logo-image-container {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

.logo-image {
    width: 45px;
    height: 40px;
    display: block;
    border: black 0.5px solid;
    border-radius: 150px;
}

.link {
    border: none;
    background: none;
    color:rgb(249, 249, 249);
    font-family: 'Road Rage', cursive;
    text-shadow: 0 0 0.8em rgb(212, 3, 3);
    cursor: pointer;
    font-size: 1.3em;
    position: relative;
}

.right-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-bar-link {
    position: relative;
    color: white;
    width: 27em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5vw;
}

.layer1 {
    position: relative;
    color:rgb(251, 185, 185);
}

.layer1BgSource2 {
    color: white;
}

.layer1-container {
    width: 80%;
    height: 150%;
    border-radius: 1.5em;
    margin: 9em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(179, 1, 1);
}

.layer1-left {
    color: white;
    margin: 3em 2em 3em 5em;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.greetings {
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Federo', sans-serif;
    text-shadow: 0 0 0.8em rgb(255, 255, 255);
    text-align: center;

}

.description {
    margin-top: 1em;
    font-family: 'Federo', sans-serif;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: justify;
}

.l1btn {
    border-radius: 0.4em;
    text-align: center;
    text-decoration: none;
    font-family: 'Federo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5em 0 3em;
}

.layer1-right {
    width: 50vw;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer1-image {
    width: 35vw;
    margin-right: 10%;
}

/*------------------------SECTION BAR---------------*/

.section-bar {
    width: 100%;
    height: 150%;
    margin: 9em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(179, 1, 1);
}

.s1h1 {
    font-size: 2em;
    text-align: center;
    color: white;
    margin: auto;
    font-family: 'Federo', sans-serif;
    justify-content: space-around;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 2.5em;    
    flex-wrap: wrap;
}

.b1Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
}

.s2boximg {
    width: 12em;
    height: 14em;
    object-fit: cover;
    border: 0.3em solid rgb(255, 255, 255);
    border-radius: 1.5em;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
    margin: 2em -1em -1em -1em;
}

.s2boximg:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(2, 173, 164);
}

.b1info {
    text-align: center;
    color: white;
    font-size: 1.7em;
    margin: 1em 0 1em 0;
    font-family: 'Federo', sans-serif;
    text-shadow: 0 0 0.8em rgb(212, 3, 3);
    z-index: 2;
}

/*------------------------QUOTE---------------*/

.section2 {
    padding:80px 35%;
    background-size: cover;
    font-size: 20px;
    font-weight:lighter;
    color:#7d0c19;
    text-shadow: 0 0 5px #f9faf8,
    0 0 15px #f9faf8,
    0 0 30px #f9faf8;
    mix-blend-mode:luminosity;
}

/*------------------------SIGN UP BAR---------------*/
.section3 {
    background-image: linear-gradient(rgb(0, 0, 0),rgb(56, 9, 9));    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em 0;
}

.s3box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    padding:36px;
    background-color: #aa0000;
    border-radius: 5px;
    margin:100px auto;
    color: #f9faf8;
    flex-flow: row wrap;
}

.s3hs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 2em 0 4em;
    line-height: 1.3em;
    font-family: 'Federo', sans-serif;
}

.s3Heading {
    font-size: 1.1em;
    font-family: 'Federo', sans-serif;
    font-weight: bold;
}

.s3Subtext {
    margin-top: 3px;
    font-size: 12px;
}

.s3container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5em 0 3em;
}

.s3btn {
    color: rgb(255, 255, 255);
    border: 0.15em solid rgb(0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 0.4em;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Federo', sans-serif;
}

footer {
    color: beige;
    font-family: 'Federo', sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    padding: 24px 0px;
    align-self: stretch;
}











